.country {
    font-family: $ttNorm;
    font-weight: 700;
    font-size: 18px;
    color: white;
}

.container {
    max-width: 1340px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    &__nav {
        background: #201F23;


        &-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 50px;
        }

        &-list {
            display: flex;
            width: 860px;
            justify-content: space-between;
            list-style: none;
        }
    }

    &__line {
        border: 1px solid #3F3F3F;
    }

    &__search {
        height: 150px;
        background: #201F23;
    }

    &__link {
        color: #D6D6D6;
        font-family: $even;
        text-decoration: none;
        font-size: 16px;
        font-weight: 450;

        &:hover {
            text-shadow: 0 0 20px white;
            transform: scale(1.2);
        }

        &.active {
            text-shadow: 0 0 20px white;
            transform: scale(1.2);
            text-decoration: underline;
        }
    }

    &__search {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__btn {
        color: white;
        font-size: 16px;
        width: 170px;
        height: 40px;
        border-radius: 50px;
        background: #4F9AD1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $even;
        text-decoration: none;
    }

    &__form {
        width: 660px;
        height: 40px;
        background: white;
        border-radius: 100px;
        display: flex;
        overflow: hidden;
        padding: 3px;


        &-input {
            flex-grow: 1;
            padding-left: 30px;
            border: none;
            outline: none;
            font-size: 20px;
            font-family: $even;
            font-weight: 450;
        }

        &-btn {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background: #232323;
            display: flex;
            align-items: center;
            justify-content: center;

        }
    }

    &__num {
        font-family: $ttNorm;
        text-decoration: none;
        font-size: 18px;
        color: white;
    }

    &__icon {
        &-user {
            font-size: 40px;
            color: white;
            margin-left: 50px;
        }
    }
}

.gitHub {
    color: white;
    font-size: 50px;

}

.bar {
    margin-right: 5px;
}

.white {
    color: white;
    font-size: 20px;
}