@font-face{
    font-family: 'AvenirNextCyr';
    src: url(../../fonts/AvenirNextCyr-Demi.ttf);
    font-weight: 450;
}
@font-face{
    font-family: 'AvenirNextCyr';
    src: url(../../fonts/AvenirNextCyr-Medium.ttf);
    font-weight: 500;    
}
@font-face{
    font-family: 'TTNormsPro';
    src: url(../../fonts/TTNormsPro-Bold.ttf);
    font-weight: 700;    
}
@font-face{
    font-family: 'TTNormsPro';
    src: url(../../fonts/TTNormsPro-Regular.ttf);
    font-weight: 400;    
}